#photo
{
    /* background-image: url(pictures/photo1.jpg); */
    height: 300px;
    widows: 200px;
}
td p
{
	max-width: 350px;
    font-size: 50px;
    padding: 0px 0px 0px 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 78);
}