#content
{	
	background: whitesmoke;
	height: 100%;
	width: 100%;
}

#name
{
	/*width: 200px;*/
	font-family: 'Noto Sans', sans-serif;
	font-size: 120%;
	color: blue;
	border-right: cornflowerblue solid;
}
#top_menu
{
	/* position: fixed;
	left: 0px;
	top: 0px; */
	margin-left: 0px; 
	z-index: 1000;
	width: 100%;
	box-shadow: 0 8px 8px -4px rgba(0, 0, 0, .2);
	background-color: white;
	/*border: 1px cornflowerblue solid;*/
}
#top_menu > table
{
	margin: 0px 10px 0px 10px;
	padding: 5px;
	width: 90%;
}
#top_menu  a
{
	text-decoration: none
}

.top_menu_button
{
	padding: 10px 0px 10px 0;
	text-align: center;
	color: black;
	margin: 5px;
	width: 99%;
	border-bottom: 1px slateblue solid;
	
}
.top_menu_button:hover
{
	font: bold;
	color: rgb(3, 0, 165);
	background-color: white;
	border-bottom: 5px slateblue solid;
}

#main_text
{
	/*border: 1px turquoise solid;*/
	
	min-width: 650px;
	max-width: 1300px;
	background: white;
	margin: 100px 25px 0px 25px;
	padding: 2px 15px 0px 15px;
	height: 100%;

}
#main_text>p
{
	text-align: justify;
	font-family: 'Noto Sans', sans-serif;
}
