
#logo_row > img
{
	position: relative;
	left: 18%;
	width: 82%;
	/*min-width: 50%;
	 max-height: 300px;
	min-height: 200px; */
	height: 170px;
	
	box-shadow: 0 8px 8px 0px rgba(0, 0, 0, .2);
	border-radius: 5px;
}