#side_menu
{

    position: fixed;
    left: 30px;
    top: 95px;
    padding-top: 10px;
    width: 200px;   
    height: 100%;
    background-color: rgb(233, 243, 250);

    border-right: 3px  cornflowerblue solid;
}
#cont
{   
    position: relative;
    left: 20%;
    width: 80%;
}
#side_menu a:active
{
    background: dodgerblue;
}
#side_menu > img
{
    position: relative;
    width: 190px;
    height: 160px;
}
#motto
{
    font-size:  12px;
    
}