.no-photo__title-box {
    margin: 0px;
    padding-top: 5px;
}

.no-photo__title-box__title {
    display: block;
    font-size: 2em;
    font-family: sans-serif;
    text-align: center;
}


.no-photo__title-box__subtitle {
    display: block;
    font-size: 1em;
    font-family: sans-serif;
    text-align: center;
}