.header {
    background: white;
    height: 90px;
    box-shadow: 0 8px 8px -4px rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px 15%;
}

@media screen and (max-width: 1300px) {
    .header {
        padding: 0px 5px;
    }
}

@media screen and (max-width: 1010px) {
    .header {
        position: relative;
        height: initial;
    }
}









