.content {
    padding: 10px;
    background: white;
    margin: 90px 15% 0px 15%;
    min-height: 87vh;
}

@media only screen and (max-width: 1300px) {
    .content {
        margin: 90px 5% 0px 5%;
    }
}


@media only screen and (max-width: 1010px) {
    .content {
        margin: 0px 5% 0px 5%;
    }
}
