.menu-mobile {
    /* position: fixed; */
    width: 100%;
    /* padding-top: 15%; */
}

.menu-mobile__list {
    display: block;
    background: white;
    padding: 0px;
    margin: 0px;  
}

.menu-mobile__list__item, .menu-mobile__list__item-current {
    border-bottom: 1px solid gray;
    padding: 4% 10px;
    /* color: black; */
}

.menu-mobile__list__item:active, .menu-mobile__list__item-current {
    background: ghostwhite;
    font-weight: bold;
}

.menu-mobile__item__button {
    display: block;
    font-size: 2em;
    padding: 5px 5px;
    text-decoration: none;
    color: black;
}

.menu-mobile__list__item-current > .menu-mobile__item__button{
    color: rgb(3, 0, 165);
}




