.photo {
    display: block;
}

.photo__figure {
    float: left;
    margin: 0px;
}

.photo__photo {
    max-height: 320px;
    max-width: 251px;
}

.photo__title-box {
    margin: 0px;
    padding-top: 5px;
    padding-right: 12%;
}

.photo__title-box__title {
    display: block;
    font-size: 2em;
    font-family: sans-serif;
    text-align: right;
}

.photo__title-box__subtitle {
    display: block;
}