.logo__title {
    margin: 0px;
    padding-top: 77px;
    padding-left: 28%;
    text-align: left;
}

@media only screen and (max-width: 900px) {
    .logo__title {
        padding: 10px;
        text-align: center;
    }
}