.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0px 15%;
    padding: 0 1em;
    text-align: left;
    background: white;
}

@media only screen and (max-width: 1300px) {
    .footer {
        margin: 0px 5%;
    }
}