.menu__button, .menu__button-current {
    border-bottom: 1px slateblue solid;
    margin: 0px 5px;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding-top: 7px;
    font-size: 19px;
    width: 14vw;
}

.menu__button-current {
    font-weight: bold;
    color: rgb(3, 0, 165);
    border-bottom: 5px slateblue solid;
}

@media screen and (max-width: 1300px) {
    .menu__button, .menu__button-current{
        width: 18vw;
    }
}

/*970 px  switch to mobile m*/