.description-list__item {
    margin: 1% 0px;
    padding-left: 8px;
    font-family: sans-serif;
    font-size: 1.1em;
    border-left: blue 2px solid;
}

.description-list__item__title {
    font-size: 1em;
    margin: 0px;
    margin-bottom: 2px;
}