.img {
    display: block;
}

.fig {
    display: block;
    
    height: 220px;
    background-position: center center;
}

.fig-bookpen {
    background-image: url(../pictures/bookpen2.jpg);
}

.fig-books {
    background-image: url(../pictures/books.jpg);
}