.menu {
    list-style: none;
    margin: 31px 0px 0px 0px;
    padding: 0px;
}

#menu-toggle {
    display: none;
}

.menu-mobile__toggle-label {
    display: none;
}

@media only screen and (max-width: 1010px) {
    .menu {
        display: none;
    }

    .menu-mobile__toggle-label {
        display: inline-block;
    }
    
    #menu-toggle ~ .menu-mobile__list {
        display: none;
    }

    #menu-toggle:checked ~ .menu-mobile__list {
        display: block;
    }  
}


@media only screen and (min-width: 1010px) {
    .menu {
        display: block;
    }
    
    .menu-mobile {
        display: none;
    }
} 