.header__title, .header__title-mobile {
    margin: 0px;
    padding-right: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 21px;
    font-weight:normal;
	color: blue;
}

.header__title {
    float: left;
    text-align: right;
    border-right: cornflowerblue solid;
}

.header__title-mobile {
    display: none;
    text-align: left;
    font-size: 2em;
}

@media  only screen and (max-width: 1010px) {
    .header__title {
        float: none;
        display: none;
    }

    .header__title-mobile {
        display: block;
    }
}