.header-mobile {
    display: none;
    background: white;
    box-shadow: 0 8px 8px -4px rgba(0, 0, 0, .2);
    margin-top: -10px;
    z-index: 10;
}


@media only screen and (max-width: 1010px) {
    .header-mobile {
        display: block;
    }
    
    .header-mobile > .hed {
        display: flex;
        justify-content: center;
       
    }
}

.header-mobile__title {
    text-align: left;
    font-size: 2.3rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight:normal;
    color: blue;
    padding: 0px 1%;
    border-right: cornflowerblue solid;
}

.header-mobile__menu-toggle {
    padding: 0px 16px;
    width: 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../pictures/menu.png");
}